<ion-view  hide-nav-bar="true">
<ion-content id="front-page"  padding="true">
	<ion-slide-box  id="slide-boxes" active-slide=1 on-slide-changed="slideChanged(index)">

		<ion-slide id="slide1">
		<div align='center' class="box">
		<h1 class="light front-text">No</h1>
		</div>
		</ion-slide>
		<ion-slide id="slide2">
		<div id="front-q" class="box">
			<div  class="row">
				<div class="col-66 col-offset-20">
					<h1 class="light front-text">Going out?</h1>
				</div >
			</div>
			<div align='center' class="box">
					<img id="front-logo" src="img/logo-branch.png"></img>
					</div>
			<div  class="row">
				<div class="col-20 col-offset-20">
					<i class="icon ion-chevron-left light front-icon"></i> 
				</div >
				<div class="col-33  col-offset-10">
					<h3 class="light">Hidden</h3>
				</div >
			</div>
			<br>
			<div  class="row">
				<div class="col-33 col-offset-33">
					<h3 class="light">Spotted</h3>
					
				</div >
				<div class="col-20 col-offset-10">
					
					<i class="icon ion-chevron-right light front-icon"></i> 
				</div >
			</div>

			
		</div>

		</ion-slide>
		<ion-slide id="slide3">
			<div align='center' class="box balanced">
			<h1 class="light front-text">Yes</h1>
			</div>
		</ion-slide>

	</ion-slide-box>
	</ion-content>

</ion-view>

