<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="checkPath()" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
		<ion-header-bar align-title="left" class="bar-dark">
		  <h1 class="title"><b>Floqe</b></h1>
		  <button class="button icon ion-gear-a"></button>
		</ion-header-bar>
    <ion-content>
		<ion-list>
			<a class="upper-menu item item-icon-left"  menu-close   href="#/tab/updates" >
			  <i class="icon ion-chatbubbles"></i>  Updates
			</a>
			<a class="upper-menu item item-icon-left" menu-close href="#/tab/map" ng-click="listMode()">
				<i class="icon ion-map"></i> Events
			</a>
			<a class="upper-menu item item-icon-left"  menu-close  href="#/tab/tags" >
			  <i class="icon ion-paper-airplane"></i>  Ping
			</a>
			
			<a class="upper-menu item item-icon-left"  menu-close   href="#/tab/create-event" >
			  <i class="icon ion-compose"></i>  Create Event
			</a>

			<a class="upper-menu item item-icon-left"  menu-close  href="#/tab/friends">
			  <i class="icon ion-person-stalker "></i> Friends
			</a>
			<a class="upper-menu item item-icon-left"  menu-close  href="#/tab/account">
			  <i class="icon ion-person "></i> Account
			</a>
		</ion-list>
<!-- 		<div ng-show='pages.map'>
			<br>
			<h4>&nbsp;&nbsp;Filter by</h4>
			<ion-list ng-repeat="event in event_types">
				<label class="item item-radio" menu-close   ng-click="selectEType(event)">
					<input type="radio" ng-checked="event == event_type.type" name="group">
					<div class="lower-menu item-content ">
					  {{event}}
					</div>
					<i class="radio-icon lower-menu-icon ion-checkmark"></i>
				  </label>
				
				
			</ion-list>
		</div> -->
		<div ng-show='pages.friends'>
			<br>
			<h4>&nbsp;&nbsp;Filter by</h4>
			<ion-list ng-repeat="group in groups">
				<label class="item item-radio" menu-close   ng-click="selectGType(group.name)">
					<input type="radio"  name="group">
					<div class="lower-menu item-content ">
					  {{group.name}}
					</div>
					<i class="radio-icon lower-menu-icon ion-checkmark"></i>
				  </label>
				
				
			</ion-list>
		</div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
