<ion-view title="Floqe">
  <ion-content class="padding">
	<br>
    <h3>What is your plan tonight?</h3>
	<div style='padding-top:10%;' class="card">
		<a class="item item-icon-left " href="#/tab/ping">
			<i class="icon ion-funnel balanced"></i>
			Ping Friends
		</a>
		<a class="item item-icon-left" href="#/tab/create-event">
			<i class="icon ion-fireball assertive"></i>
			Create Event
		</a>
		<a class="item item-icon-left" href="#/tab/updates">
			<i class="icon ion-lightbulb energized"></i>
			Updates
		</a>
		<a class="item item-icon-left item-icon-right" href="#/tab/map">
			<i class="icon ion-pinpoint dark"></i>
			View Events 
			<span class="badge badge-positive">{{event_count}}</span>
		</a>
	</div>
  </ion-content>
</ion-view>
